.background {
  width: 900px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 10px dashed tomato;
  color: rgb(255 255 255);

  background-color: rgb(30 24 35);

  background-image: linear-gradient(rgb(30 24 35 / 0.4), rgb(30 24 35 / 0.4)), url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-origin: padding-box;
  background-clip: padding-box;
}
