h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;

  /* column-gap: 20px;
  row-gap: 40px; */
  /* gap: 40px 20px; */

  height: 500px;

  border: 1px solid #000000;
}

.benefits-list-item {
  width: 300px;
  border: 1px solid tomato;
}

/* .benefits-list-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.benefits-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 40px;
} */

.benefits-list-item-first {
}

.benefits-list-item-second {
}

.benefits-list-item-third {
}

.block {
  width: 100px;
  height: 100px;
  border: 4px solid yellowgreen;
  margin-left: auto;
  margin-right: auto;

  margin-top: auto;
  margin-bottom: auto;
}
