h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.pseudo-elements {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.title::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
}

.title::after {
  content: '';
  display: block;
  width: 200px;
  height: 4px;
  background-color: teal;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.tasks-list-item {
  font-size: 18px;
}

.tasks-list-item:not(:last-child) {
  margin-bottom: 20px;
}
