/* ================== VARIABLES ================== */
:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-text-color: 17 17 17;
  --secondary-text-color: 255 255 255;
  --accent-color: 253 146 34;
  --body-bg-color: 250 250 250;
}
/* ================== /VARIABLES ================== */

/* ================== COMMON STYLES ================== */
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--primary-font);
  color: rgb(var(--primary-text-color));
  background-color: rgb(var(--body-bg-color));
}

.section-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.accent-color {
  color: rgb(var(--accent-color));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ================== /COMMON STYLES ================== */

/* ================== PAGE HEADER STYLES ================== */
.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.page-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.page-menu-link:hover,
.page-menu-link:focus {
  color: rgb(var(--accent-color));
}
/* ================== /PAGE HEADER STYLES ================== */

/* ================== HERO STYLES ================== */
.main-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.buy-now-btn {
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(var(--accent-color));
  color: rgb(var(--secondary-text-color));
  border: none;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: rgb(252, 241, 224);
  color: rgb(var(--accent-color));
}

.how-made-link {
  font-size: 14px;
  font-weight: 600;
}

.how-made-link:hover,
.how-made-link:focus {
  color: rgb(var(--accent-color));
}

.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: rgb(var(--accent-color));
}
/* ================== /HERO STYLES ================== */

/* ================== BENEFITS STYLES ================== */
.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
}

.benefits-list-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
/* ================== /BENEFITS STYLES ================== */

/* ================== INGREDIENTS STYLES ================== */
.ingredients-description {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ================== /INGREDIENTS STYLES ================== */

/* ================== HOW MADE STYLES ================== */
.how-made-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.how-made-list-item {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
/* ================== /HOW MADE STYLES ================== */

/* ================== REVIEWS STYLES ================== */
.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
}

.reviews-list-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(var(--primary-text-color) / 0.7);
}

.leave-review-btn {
  font-size: 18px;
  font-weight: 600;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: rgb(var(--secondary-text-color));
  background-color: rgb(var(--accent-color));
}
/* ================== /REVIEWS STYLES ================== */

/* ================== FOOTER STYLES ================== */
.page-footer-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.contact-slogan {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: rgb(var(--accent-color));
}
/* ================== /FOOTER STYLES ================== */
