.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  outline: 1px solid #000000;
}

.btn {
  display: block;
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2980b9;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  /* transition-property: background-color;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0, 1.04, 1, -0.03);
  transition-delay: 0ms; */
  transition: background-color 1000ms cubic-bezier(0, 1.04, 1, -0.03);
}

.btn:hover,
.btn:focus {
  background-color: #e74c3c;
}
